.card-list__container {
    background-color: #fafafa;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 38px;
    column-gap: 20px;
    align-self: center;
}

@media (max-width: 768px) {
    .card-list__container {
        padding-left: 30px;
        padding-right: 30px;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media (max-width: 400px) {
    .card-list__container {
        padding-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
        grid-template-columns: repeat(1, 1fr);
        gap: 34px;
    }
}