.card-list__container {
    background-color: #fafafa;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 38px;
    column-gap: 20px;
    align-self: center;
}

.card-list__message {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    margin-top: 20px;
    opacity: 0.5;
}

.card-list__message-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

}

@media (max-width: 768px) {
    .card-list__container {
        padding-left: 30px;
        padding-right: 30px;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media (max-width: 480px) {
    .card-list__container {
        padding-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
        grid-template-columns: repeat(1, 1fr);
        gap: 34px;
    }
}

